.caixa {
    
    background-image: url("https://i.imgur.com/Wi7rVAV.jpg?1");
    background-color: #C77185;
}



.titulo {
    color: #472930 !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #472930 !important; 
    color: white !important;
}
.botao2{
    border-color: white !important;
    background-color: white !important; 
    color: #472930 !important;
}
.postagens {
    background-color: #C77185;
} 