.caixa {
    
    background-image: url("https://i.imgur.com/1AxSLuD.jpg");
    background-color: #C77185;
    scale: 1;
    
    
    
}

.titulo {
    color: #472930 !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #472930 !important; 
    color: white !important;
}
.botao2{
    border-color: white !important;
    background-color: white !important; 
    color: #472930 !important;
}
.postagens {
    background-color: #D0B5BB;
} 