input {
    width: 600px;
  }
  
  textarea {
    height: 10em;
    width: 600px;
  }

  .message-chars-left {
    width: 600px;
    margin: auto;
    text-align: left;
  }
  div[role='alert'] {
    color: red;
    margin-top: 1em;
  }

  .bgImageContato{
    background-image: url(https://i.imgur.com/8lR5uBJ.png);
    background-repeat: no-repeat; 
    width: 120vh; 
    min-height: 100vh; 
    background-size: cover; 
    background-position: center;
}
.msgError{
  color: crimson;
  font-weight: bold;
}

.bgColorUser{
    background-color: black !important;
    margin-right: 20px !important;
}