/*.box1 {
	background-color: #C77185;
	height: 120px;
}

.box2 {
	background-color: #C77185 ;
	height: 60px;
}

.redes {
	font-size: 60px !important;
	color: #472930;
}

.textos {
	color: #472930;
}*/